@import "syntax-variables";

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }
  .line.cursor-line{
    background-color: @syntax-line-cursor-line-color;
  }
  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @syntax-fold-color;
  }

  .invisible {
    color: @syntax-invisible-character-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
    border-color: @syntax-cursor-color;
    border-width: 1px;
  }
}

atom-text-editor .search-results .syntax--marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .syntax--marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.syntax--comment {
  color: @syntax-comment-color;
}

.syntax--entity {
  &.syntax--name.syntax--type {
    color: @syntax-entity_type-color;
    text-decoration: underline;
  }

  &.syntax--other.syntax--inherited-class {
    color: @syntax-inherited_class-color;
  }
}

.syntax--keyword {
  color: @syntax-keyword-color;

  &.syntax--control {
    color: @syntax-keyword-control-color;
  }

  &.syntax--operator {
    color: @syntax-keyword-operator-color;
  }

  &.syntax--other.syntax--special-method {
    color: @syntax-keyword-other-special-method-color;
  }

  &.syntax--other.syntax--unit {
    color: @syntax-keyword-other-unit-color;
  }
}

.syntax--storage {
  color: @syntax-storage-color;
}

.syntax--constant {
  color: @syntax-constant-color;

  &.syntax--character.syntax--escape {
    color: @syntax-constant-character-escape-color;
  }

  &.syntax--numeric {
    color: @syntax-constant-numeric-color;
  }

  &.syntax--other.syntax--color {
    color: @syntax-constant-numeric-other-color-color;
  }

  &.syntax--other.syntax--symbol {
    color: @syntax-constant-numeric-other-symbol-color;
  }
}

.syntax--variable {
  color: @syntax-variable-color;

  &.syntax--interpolation {
    color: @syntax-variable-interpolation-color;
  }

  &.syntax--parameter.syntax--function {
    color: @syntax-variable-parameter-function-color;
  }
}

.syntax--invalid.syntax--illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.syntax--string {
  color: @syntax-string-color;


  &.syntax--regexp {
    color: @syntax-string-regexp-color;

    .syntax--source.syntax--ruby.syntax--embedded {
      color: @syntax-string-regexp-source_ruby_embedded-color;
    }
  }

  &.syntax--other.syntax--link {
    color: @syntax-string-other_link-color;
    text-decoration: underline;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      color: @syntax-punctuation-definition-comment-color;
    }
    &.syntax--string{
      color: @syntax-punctuation-definition-string-color;
    }
    &.syntax--variable{
      color: @syntax-punctuation-definition-variable-color;
    }
    &.syntax--parameters{
      color: @syntax-punctuation-definition-parameters-color;
    }
    &.syntax--array {
      color: @syntax-punctuation-definition-array-color;
    }
    &.syntax--heading{
      color: @syntax-punctuation-definition-heading-color;
    }
    &.syntax--identity {
      color: @syntax-punctuation-definition-identity-color;
    }
    &.syntax--bold {
      color: @syntax-punctuation-definition-bold-color;
      font-weight: bold;
    }
    &.syntax--italic {
      color: @syntax-punctuation-definition-italic-color;
      font-style: italic;
    }
  }

  &.syntax--section.syntax--embedded {
    color: @syntax-punctuation-section-embedded-color;
  }

}

.syntax--support {
  &.syntax--class {
    color: @syntax-support-class-color;
  }

  &.syntax--function  {
    color: @syntax-support-function-color;

    &.syntax--any-method {
      color: @syntax-support-function-any-method-color;
    }
  }
}

.syntax--entity {
  &.syntax--name {
    &.syntax--function {
      color: @syntax-entity-name-function-color;
    }
    &.syntax--class{
      color: @syntax-entity-name-class-color;
    }
    &.syntax--type.syntax--class {
      color: @syntax-entity-name-type-class-color;
    }
    &.syntax--section {
      color: @syntax-entity-name-section-color;
    }
    &.syntax--tag {
      color: @syntax-entity-name-tag-color;
      font-weight: bold;
    }
  }
  &.syntax--other.syntax--attribute-name {
    color: @syntax-entity-other-attribute-name-color;

    &.syntax--id {
      color: @syntax-entity-other-attribute-name-id-color;
    }
    &.syntax--class {
      color: @syntax-entity-other-attribute-name-class-color;
    }
  }
}

.syntax--meta {
  &.syntax--class {
    color: @red;
  }

  &.syntax--link {
    color: @orange;
  }

  &.syntax--require {
    color: @blue;
  }

  &.syntax--selector {
    color: @purple;
  }

  &.syntax--separator {
    background-color: @gray;
    color: @syntax-text-color;
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--markup {
  &.syntax--bold {
    color: @orange;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @purple;
  }

  &.syntax--deleted {
    color: @red;
  }

  &.syntax--italic {
    color: @purple;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @blue;
  }

  &.syntax--inserted {
    color: @green;
  }

  &.syntax--list {
    color: @red;
  }

  &.syntax--quote {
    color: @orange;
  }

  &.syntax--raw.syntax--inline {
    color: @green;
  }
}

.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;
  &.syntax--heading {
    color: @green;
  }
}

atom-text-editor[mini] .scroll-view {
  padding-left: 1px;
}
